@import 'src/assets/styles/palette';
@import 'src/assets/styles/mixins';

.footer_navigation {
  grid-area: linksApp;
  display: flex;
  gap: 20px;
  @include laptop {
    display: flex;
    flex-direction: column;
  }
}

.footer_navigation_link {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: $textVioletColor;

  @include tablet {
    text-align: left;
  }
}
