@import 'src/assets/styles/palette';
@import 'src/assets/styles/mixins';

.work_container {
  margin-bottom: 160px;
  @include laptop {
    margin-bottom: 120px;
  }
  @include tablet {
    margin-bottom: 40px;
  }
}

.work_title {
  position: relative;
  background: $gradientTextColor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: $transparent;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  @include laptop {
    padding-bottom: 24px;
  }
  @include tablet {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}

.work_cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  @include scrollbar;
  margin-bottom: 80px;
  @include laptop {
    margin-bottom: 60px;
  }
  @include tablet {
    margin-bottom: 24px;
  }
}

.work_cards_item {
  padding: 54px 62px;
  width: 100%;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 24px 24px 0 $gray1;
  border: 2px solid $borderColor;
  @include tablet {
    padding: 54px 18px;
  }
}

.work_cards_item_title {
  margin-bottom: 16px;
  text-align: center;
  @include tablet {
    min-width: 100px;
  }
}

.work_cards_item_subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.work_container_end {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
  @include tablet {
    flex-direction: column;
  }
}
.work_bg_right {
  position: absolute;
  right: -58px;
  z-index: -1;
}

.work_bg_left {
  position: absolute;
  left: 0;
  z-index: -1;
}

.work_container_end_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  @include laptop {
    text-align: center;
  }
}

.work_container_end_item {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 285px;
  @include tablet {
    max-width: 100%;
  }
}