@import 'src/assets/styles/palette';
@import 'src/assets/styles/mixins';

.table {
  width: 100%;
  border-spacing: 0 4px;
  background:
    linear-gradient(180deg, rgba(61, 142, 254, 0.2) 0%, rgba(158, 61, 254, 0.2) 100%),
    linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 14px 24px 0 #0000002B;
  border-radius: 20px;
  padding: 0 4px;
  background-color: #642bb0;
  thead {
    background:
      linear-gradient(266.09deg, rgba(93, 156, 255, 0.2) 1.15%, rgba(93, 156, 255, 0) 98.69%),
      linear-gradient(180deg, #3D8EFE 0%, rgba(61, 142, 254, 0) 100%);
    border-image-source: linear-gradient(180deg, #3D8EFE 0%, rgba(61, 142, 254, 0) 100%);
    position: relative;
    padding: 2px;
    border-radius: 16px;
    th {
      padding: 8px;
      text-transform: uppercase;
      color: $white;
      height: 80px;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      text-align: center;
      &:first-child {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        text-align: left;
      }
      &:last-child {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        text-align: right;
      }
      @include mobile {
        height: 54px;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  td {
    padding: 8px;
    height: 84px;
    color: $white;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      text-align: left;
    }
    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      text-align: right;
    }
    @include mobile {
      height: 58px;
      font-size: 14px;
      line-height: 21px;
    }

    span {
      display: block;

      @include tablet {
        font-size: 18px;
      }
    }

    button {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 14px;
    }
  }

  th {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
  }

  tr {
     text-align: left;
  }

}
