$bgColor: #642BB0;
$textColor: #FFFFFF;
$gradientTextColor: linear-gradient(265.07deg, #DED9FF 5.23%, #3D8DFF 96.56%);
$gradientOrangeColor: linear-gradient(85.06deg, #AB3232 0.89%, #EA6022 100%);
$gradientOrangeBlackColor: linear-gradient(270deg, #E85F23 59.33%, rgba(232, 95, 35, 0) 104%);;
$orangeHover: #AB3232;
$borderColor: #FFFFFF33;
$transparent: transparent;


$white: #FFFFFF;
$violet: #642BB0;
$black: #03050A;

$gray: #DFE0E1;
$gray1: rgba(36, 23, 69, 0.1);
$grey3: #072537;
$grey4: #3B5998;
$grey5: #5C6975;

$orangeDark: #E85A2133;
$orangeLight: #F58F62;
